{% import theme("parts/photobox.html") as photobox %}

{% macro love(to_from_flag, current_user, senders, recipients, message, ts, secret, emote) %}
    <div class="love-message-container" style="position: relative;">
        {% if to_from_flag == "To" %}
            {% set user_list = recipients %}
        {% else %}
            {% set user_list = senders %}
        {% endif %}

        {% set first_user = user_list[0] %}
        {{ photobox.user_icon(first_user) }}
        {% if emote %}
            <div style="position: absolute; top: -10px; left: 25px;">{{ emote }}</div>
        {% endif %}
        <div class="love-byline">
            {{ to_from_flag }}
            <strong><a href="/explore?user={{ first_user.username }}">{{ first_user.full_name }}</a></strong>
            {% if user_list|length > 1 %}
                and {{ user_list|length - 1 }} others
            {% endif %}
            •
            <span class="nicetime">{{ ts * 1000 }}</span>
            {% if secret %}
            <span class="badge">SECRET</span>
            {% endif %} 
        </div>    
        <div class="love-message">
            {{ message|linkify_company_values }}
            {#
                Checks if the current user's username is not present in the list of senders' usernames.
                This is typically used to determine whether the current user has not sent a message in the grouped love message context.
            #}
            {% if current_user.username not in senders | map(attribute='username') | list
                and not (recipients|length == 1 and recipients[0].username == current_user.username) %}
                <div class="love-plus-one-container" style="display: inline;">
                    <a
                        href="/?recipients={{ recipients | map(attribute='username') | join(',') }}&message={{ message | urlencode }}"
                        class="love-plus-one"
                        title="Send this message"
                    >
                        <span class="circle">+1</span>
                    </a>
                </div>
            {% endif %}
        {% if user_list|length > 1 %}
            <div class="user-list" tabindex="0">
                {% for user in user_list %}
                    <a href="/explore?user={{ user.username }}" class="badge">{{ user.full_name }}</a>
                {% endfor %}
                <button
                    class="user-list-expander"
                    type="button"
                    aria-expanded="false"
                    onclick="toggleUserList(this)"
                >
                    <span class="chevron"></span>
                    <span class="sr-only">Show all recipients</span>
                </button>
                <div class="user-list-gradient"></div>
            </div>
         {% endif %}
        </div>
    </div>
{% endmacro %}
